<div id="main">
  <div class="right">
    <h3>Resend confirmation instructions</h3>

    <%= form_for(resource_name, resource, :url => confirmation_path(resource_name)) do |f| %>
        <%= f.error_messages %>

        <p><%= f.label :email %></p>

        <p><%= f.text_field :email, :size => 70 %></p>

        <p><%= f.submit "Resend confirmation instructions", :class => "button" %></p>
        <p><%= render :partial => "devise/shared/links" %></p>
    <% end %>
  </div>
</div>